{% extends "bootstrap_skeleton.html" %} 

{% block title %} Hello, World! {% endblock %} 

{% block content %}
<div class="container">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Hello, World!</h1>
      <p class="col-md-8 fs-4">KonvaSearch is currently under development.</p>
      <a
        href="https://github.com/Pejuang-PBP/tk1-pbp"
        target="_blank"
        class="btn btn-primary btn-lg"
      >
        Visit our Repository
      </a>
    </div>
  </div>
</div>
{% endblock %}
