{% extends "bootstrap_skeleton.html" %}

{% load static %}

{% block title %} KonvaSearch - Sign Up {% endblock %} 

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
<link href="{% static 'landing_page/css/logreg.css' %}" rel="stylesheet">
{% endblock %} 


{% block content %}
<div class="container-fluid text-center mt-3 header">
    <h1 class="display-1">
      <a class="text-decoration-none" href="{% url 'home' %}">
        <span class="text-red">Konva</span><span class="text-crimson">Search</span>
      </a>
    </h1>
</div>


<div class="container col-10 d-flex mt-3 justify-content-center content">
  <img class="img-fluid m-2 left-box d-none d-lg-block" src="{% static 'landing_page/img/signup.png' %}">
  
  <div class="container-fluid m-2 right-box">
    <div class="ms-5 me-5">
      <form method="POST" noval>
        {% csrf_token %}
        <div class="mb-3">
          <input name="username" type="text" class="form-control" id="Username" placeholder="Username" required>
          <span class="form-error">{{ form.username.errors }}</span>
        </div>
        <div class="mb-3">
          <input name="email" type="email" class="form-control" id="Email" placeholder="Email Address" required>
          <span class="form-error">{{ form.email.errors }}</span>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <input name="password1" type="password" class="form-control" id="Password1" placeholder="Password" required>
            <i class="input-group-text text-crimson bi bi-eye-slash show-hide"></i>
          </div>
          <span class="form-error">{{ form.password1.errors }}</span>
        </div>
        
        <div class="mb-3">
          <div class="input-group">
            <input name="password2" type="password" class="form-control" id="Password2" placeholder="Confirm Password" required>
            <i class="input-group-text text-crimson bi bi-eye-slash show-hide"></i>
          </div>
          <span class="form-error">{{ form.password2.errors }}</span>
        </div>
        <button type="submit" class="btn btn-primary mb-3 mt-3 w-100 submit-btn">Register</button>
      </form>
      <div class="text-center">
        <a class="text-decoration-none text-black" href="{% url 'login_page' %}">Sudah memiliki akun?</a>
      </div>
    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'landing_page/js/logreg.js' %}"></script>
{% endblock %}
