{% extends "bootstrap_skeleton.html" %} {% load static %} {% block title %}
KonvaSearch {% endblock %} {% block head %}
<link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

{% endblock %} {% block content %}


<body>
    <!-- NavBar -->
    {% include "navbar.html" %}
    <br>
    <div class="container">
        <h2>
          <font color="red">Frequently</font>
          <font color="#CC1728">Asked</font>
          <font color="#050359">Question</font>
        </h2> 
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" >
                Apa itu Plasma Konvalesen?
              </a>
            </div>
            <div id="collapseOne" class="collapse">
              <div class="card-body">
                Plasma konvalesen adalah plasma darah dari pasien yang telah sembuh/penyintas Covid-19.
                 Plasma darah pasien penyintas ini mengandung antibodi atau kekebalan tubuh terhadap Covid-19.
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Apa itu Terapi Plasma Konvalesen?
              </a>
            </div>
            <div id="collapseTwo" class="collapse">
              <div class="card-body">
                Terapi plasma konvalesen merupakan salah satu metode pengobatan yang kini digunakan untuk menangani pasien COVID-19, khususnya dengan gejala berat.
                Terapi plasma konvalesen adalah pemberian plasma darah donor atau sumbangan dari pasien yang telah sembuh dari COVID-19 (penyintas COVID-19) kepada pasien COVID-19.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                Pertanyaan #3
              </a>
            </div>
            <div id="collapseThree" class="collapse">
              <div class="card-body">
               <p>contoh :
                 <br> * balon 
                 <br> * bingung
               </p> 
              </div>
            </div>
          </div>
  
      </div>

      <br>
      <br>
      <br>
      <h2>
        <font color="red">Any</font>
        <font color="#CC1728">Other</font>
        <font color="#050359">Question?</font>
      </h2> 
      <div>
        <form action="" method="POST">
          {% csrf_token %}
          <div class = "mb-3">
            <label for = "{{ form.name.InputNama }}" class="form-label">Nama Lengkap:</label>
            <input type="text" class="form-control" id="InputNama" name="name">
          </div>
          <div class = "mb-3">
            <label for = "{{ form.pertanyaan.InputPertanyaan }}" class="form-label">Pertanyaan:</label>
            <input type="text" class="form-control" id="InputPertanyaan" name="pertanyaan">
          </div>
          <button type="submit" 
            class="btn btn-primary"
            onclick="alert('Pertanyaan berhasil diajukan!')">
            Submit
          </button>
      
        </form>

      </div>

      <script>
        /*
        call AJAX get request to check if the question
        already exists or not.
        */
        $("#InputPertanyaan").change(function () {
            //e.preventDefault();
            // get the question
            var pertanyaan = $(this).val();
            // GET AJAX request
            $.ajax({
                type: 'GET',
                url: "{% url 'check_question' %}",
                data: {"pertanyaan": pertanyaan},
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                      alert("Pertanyaan sudah pernah diajukan!");}
                },
                error: function (response) {
                    console.log(response)
                }
            })
        })
      </script>
    
</body>

<!-- Footer -->
{% include "footer.html" %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}