<div class="card">
  <div class="card-body">
    <h5 class="card-title">UTD</h5>
    <p class="card-text">
      Unit Transfusi Darah (UTD) adalah salah satu unit kerja yang ada di PMI
      yang memfasilitasi pelayanan kesehatan yang menyelenggarakan donor darah,
      penyediaan darah, dan pendistribusian darah. Tugas dan fungsi utamanya
      ialah meningkatkan derajat kesehatan melalui pengelolaan darah yang
      berkualitas, mewujudkan pelayanan penyediaan darah yang aman, tepat waktu,
      terjangkau dan berkesinambungan.
      <br />
      Para pendonor dipersilakan untuk melakukan tahapan-tahapan berikut secara
      berurut di salah satu UTD yang tersedia:
      <br />
      1. Tahap registrasi
      <br />
      2. Tahap Pemeriksaan Pendahuluan
      <br />
      3. Tahap Pemeriksaan Kesehatan oleh Dokter
      <br />
      4. Tahap Pengambilan Darah Donor
      <br />
      5. Tahap Administrasi
      <br />
    </p>
  </div>
</div>
