.bg-carnelian {
  background-color: #AF0011;
}

.bg-beau-blue {
  background-color: #C2DFFF;
}

.bg-oxford-blue {
  background-color: #002954;
}

.bg-maximum-yellow-red {
  background-color: #FFBF59;
}

.bg-maximum-yellow-red-lite {
  background-color: #ffc76f;
}

.bg-light-blue {
  background-color: #D1DEEC;
}

.text-oxford-blue {
  color: #002954;
}

.text-carnelian {
  color: #AF0011;
}

.bg-less-light {
  background-color: #f0f0f0;
}