.bg-carnelian {
  background-color: #AF0011;
}

.bg-beau-blue {
  background-color: #C2DFFF;
}

.bg-oxford-blue {
  background-color: #002954;
}

.bg-maximum-yellow-red {
  background-color: #FFBF59;
}

.text-oxford-blue {
  color: #002954;
}

.text-carnelian {
  color: #AF0011;
}