<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <span class="fs-1" style="color: red;">Konva</span><span class="fs-1" style="color: #CC1728;">Search</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navlink-group collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content: right;">
        <div class="navbar-nav">
          <a class="nav-link fs-4 text-decoration-none me-4" href="{% url 'home' %}">Home</a>
          <a class="nav-link fs-4 text-decoration-none me-4" href="#">FAQ</a>
  
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link fs-4 dropdown-toggle me-2" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.get_username }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="fs-6 dropdown-item" href="#">Dashboard</a></li>
              <li><a class="fs-6 dropdown-item" href="#">Donor</a></li>
              <li><a class="fs-6 dropdown-item" href="#">Cari Donor</a></li>
              <li><a class="fs-6 dropdown-item" href="/signout" style="color: #CC1728;">Logout</a></li>
            </ul>
          </li>
  
          {% else %}
          <a class="nav-link fs-4 text-decoration-none me-2" href="{% url 'login_page' %}">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>